#!/bin/bash

# Flush IPtables rules
iptables -F

# Ensure default deny firewall policy
iptables -P INPUT DROP
iptables -P OUTPUT DROP
iptables -P FORWARD DROP

# Ensure loopback traffic is configured
iptables -A INPUT -i lo -j ACCEPT
iptables -A OUTPUT -o lo -j ACCEPT
iptables -A INPUT -s 127.0.0.0/8 -j DROP 

# Ensure outbound and established connections are configured
iptables -A OUTPUT -p tcp -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -p udp -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -p icmp -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A INPUT -p tcp -m state --state ESTABLISHED -j ACCEPT
iptables -A INPUT -p udp -m state --state ESTABLISHED -j ACCEPT
iptables -A INPUT -p icmp -m state --state ESTABLISHED -j ACCEPT

#Web Ports
iptables -A INPUT -p tcp --dport 443 -m state --state NEW -j ACCEPT
iptables -A INPUT -p tcp --dport 80 -m state --state NEW -j ACCEPT

# Open inbound ssh (tcp port 22) connection
iptables -A INPUT -p tcp --dport 22 -m state --state NEW -j ACCEPT

# Allow snmp traffic to the Orion poller
iptables -A INPUT -p udp -s 192.168.148.0/24 --dport 161 -m state --state NEW -j ACCEPT
iptables -A INPUT -p udp -s 209.81.116.0/24 --dport 161 -m state --state NEW -j ACCEPT

#Allow ICMP Echo
iptables -A INPUT -p icmp --icmp-type echo-request -j ACCEPT

# Drop ICMP timestamp requests and replies
iptables -A INPUT -p icmp --icmp-type timestamp-request -j DROP
iptables -A OUTPUT -p icmp --icmp-type timestamp-reply -j DROP
